annotated-types==0.7.0
click==8.2.1
DateTime==5.5
dnspython==2.7.0
email_validator==2.2.0
greenlet==3.2.3
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
pathlib==1.0.1
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
rich==14.0.0
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
SQLAlchemy==2.0.41
sqlmodel==0.0.24
typer==0.16.0
typing==3.7.4.3
typing-inspection==0.4.1
typing_extensions==4.14.0
uuid==1.30
zope.interface==7.2
